.navbar-brand {
    margin: 0 !important;
    padding: 0 !important;
}

.navbar-image {
    width: 50px !important;
}

#about {
    padding-top: 80px !important;
    padding-bottom: 40px !important;
}

.theme-colored-font {
    color: #E67E22 !important;
}

.no-capitalization {
    text-transform: none !important;
}