/*---------- 1. Default css starts ------------*/

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
    font-weight: 600;
}

p {
    letter-spacing: 0;
    line-height: 1.8;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

a:focus {
    outline: none;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding: 80px 0;
}

.section-title {
    margin-bottom: 60px;
    text-align: center;
}

.section-title h2 {
    font-size: 32px;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 600;
    margin-top: 0;
    position: relative;
    /* letter-spacing: 1.5px; */

}

/* .section-title h2::after {
    bottom: -15px;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    width: 80px;
    background: #AB060D;
} */

.section-title p {
    width: 70%;
    margin: auto;
}

.sec-icon i {
    font-size: 25px;
    line-height: 1.5;
    color: #666666;
}

.sec-icon {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}

.sec-icon::before {
    content: '';
    position: absolute;
    height: 1px;
    left: -70px;
    margin-top: -5.5px;
    top: 60%;
    background: #333;
    width: 50px;
}

.sec-icon::after {
    content: '';
    position: absolute;
    height: 1px;
    right: -70px;
    margin-top: -5.5px;
    top: 60%;
    background: #333;
    width: 50px;
}


/*---------Default css ends----------*/


/*-------------- 2. Preloader css starts ---------------*/




/*---------- preloader css ends -------------*/


/*---------- 3. Nav area css starts -------------*/

.nav-area {
    height: 65px;
}

.nav-area.sticky_navigation {
    background: rgba(255, 255, 255, 0.95);
    height: 55px;
}

.sticky_navigation {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-box-shadow: 0px 3px 4.6px 0.3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 4.6px 0.3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 4.6px 0.3px rgba(0, 0, 0, 0.25);
}

.sticky_navigation .main-menu {
    margin-top: 0;
}

.sticky_navigation .navbar-brand,
.sticky_navigation .navbar-brand span {
    color: #333333;
}

.sticky_navigation .navbar-brand:hover,
.sticky_navigation .navbar-brand:focus,
.sticky_navigation .navbar-brand span {
    color: #AB060D;
}

.sticky_navigation .nav li a {
    color: #333333;
}

.sticky_navigation .nav li.active a {
    color: #AB060D;
}

.sticky_navigation .navbar-brand:hover {
    color: #333333;

}

.main-menu {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    margin-top: 10px;
}

.navbar {
    border: 0;
    margin-bottom: 0;
}

.navbar-brand {
    padding: 15px 0;
    text-transform: uppercase;
    font-size: 25px;
    display: block;
    color: #ffffff;
    font-weight: 800;
}

.navbar-brand span {
    font-size: 40px;
    font-weight: 900;
    color: #AB060D;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
    color: #ffffff;
}

.navbar-right {
    padding-top: 5px;
}

.navbar-right li {
    display: inline-block;
    float: none;
}

.navbar-right li a {
    color: #ffffff;
    font-weight: 600;
    padding: 15px 10px;
}

.navbar-right li.active a {
    font-weight: bold;
    color: #ffffff;
}

.nav>li>a:hover,
.nav>li>a:active,
.nav>li>a:focus {
    background: none;
}

.navbar-toggle .icon-bar {
    background: #777777;
}


/*---------- Nav area css ends -------------*/


/*----------- 4. Mouse Animate Icon css Starts ------------------*/

.mouse-icon {
    position: absolute;
    left: 50%;
    bottom: -160px;
    border: 2px solid #fff;
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin-left: -17px;
    display: block;
    z-index: 10;
}

.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background: #fff;
    width: 4px;
    height: 10px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}


/* --------- Mouse Animate Icon css ends -------------- */

/*---- 5. Slider Area css starts---*/

.welcome-des {
    font-size: 16px;
    /* font-weight: 400; */
    font-weight: 300;
    color: #fff;
    /* letter-spacing: 1px; */
    word-spacing: 2px;
    width: 80%;
    margin: auto;
}


.banner-text-area h3 {
    font-size: 30px;
    color: #AB060D;
    margin: 0;
    letter-spacing: 4px;
    font-weight: 600;
}

.banner-text-area h1 {
    margin: 10px 0;
    font-size: 60px;
    font-weight: 800;
    font-family: inherit;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: #fff;
    line-height: 1.5;
    text-transform: uppercase;
}

.banner-text span {
    color: #AB060D;
}

.slider-area {
    position: relative;
}

.slider-area-overlay {
    position: relative;
}

.slider-area-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.container-fluid.main {
    padding: 0;
}

.carousel .background.bgd-one {
    background-image: url("../images/home/home1.jpg"); /*edit image*/
    background-image: url("../images/home/test1.jpg"); /*edit image*/
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel .background.bgd-two {
    background-image: url("../images/home/home2.jpg"); /*edit image*/
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel .background.bgd-three {
    background-image: url("../images/home/home3.jpg"); /*edit image*/
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-inner .item {
    height: 100vh;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

a.slide-control:focus,
a.slide-control:hover {
    color: #AB060D;
}

.slider-middle-text {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 4;
}

.slide-control:hover,
.slide-control:focus {
    color: rgba(255, 255, 255, 0.4);
}

.slide-btn a {
    background-color: #ffffff;
    color: #fff;
    padding: 20px 20px;
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    letter-spacing: 0.7px;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    font-weight: 300;
}

.slide-btn a:hover {
    background: #AB060D;
    color: #fff;
   
}

.slide-btn a.active {
    background: #AB060D;
    color: #fff;
    
}


/* --------------  Slider area css ends --------------- */


/*--------- 6. ABout Area css starts -----------*/

.about-top {
    text-align: center;
    margin-bottom: 50px;
}

.about-top h3 {
    font-weight: 600;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 30px;
    margin: 0;
}

.about-top h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* line-height: .7; */
    position: relative;
    padding: 20px 0;
    margin: 0 0 25px;
}

.about-top p {
    width: 80%;
    margin: auto;
}

.classic-title {
    margin: 0 0 25px;
    text-transform: uppercase;
}

.panel-title a span {
    float: right;
}

.panel-title a span i {
    color: #fff;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #AB060D;
    border-color: #AB060D;
}


/*--------- 3. ABout Area css ends -----------*/


/*------ 7. Call to action starts------*/

.call-to-action {
    padding: 60px 0;
    background: url(../images/callto/call.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

.call-to-action:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.call-to-action-content {
    font-size: 24px;
    color: #fff;
    margin: 0;
    font-weight: 400;
}

.call-to-action-content span {
    font-weight: 700;
    font-size: 32px;
}

.call-btn {
    background: #AB060D;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
}

.call-btn:hover, .call-btn:focus{
    text-decoration: none;
    color: #fff;
}


/*------ call to action ends------*/

/*-------- 8. Services area starts ----------*/

.services-area .single-service {
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
    /* border: 1px solid #ddd; */
    border-bottom: 2px solid #ddd;
    /* border-radius: 15px; */
    background: #fff;
}

.services-area .single-service i {
    font-size: 30px;
    height: 75px;
    width: 75px;
    line-height: 75px;
    background-color: #f4f4f4;
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
    color: #AB060D;
    border-radius: 15%;
    transition: all 0.3s ease-in-out;
}

.services-area .single-service:hover i {
    background-color: #AB060D;
    color: #fff;
}

.services-area .single-service h4 {
    margin-top: 0;
    margin-bottom: 7px;
    font-weight: 600;
    color: #333;
}

/* .effect2 {
    position: relative;
}

.effect2:before,
.effect2:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
}

.effect2:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
} */


/*-------- Services area ends ----------*/


/*-------- 9. Award area starts ----------*/

.award-area {
    background: url("../images/award/award.jpg"); /* edit image */
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.award-area::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.award-area h3 {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 7px;
    word-spacing: 2px;
    margin-bottom: 15px;
    color: #fff;
}

.single-award h2 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    width: 80%;
    margin: 0 auto 15px;
    color: #ffffff;
    line-height: 1.3;
}

.single-award a {
    color: #fff;
    background: #AB060D;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
}

/*-------- Award area ends ----------*/


/*----------- 10. Portfolio area Starts --------*/

.project-item img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: crosshair;
}

.overlay .overlay-inner {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}

.overlay .overlay-inner h4 {
    color: #fff!important;
    margin-bottom: 0!important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
}

.overlay .overlay-inner p {
    color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    margin-top: 10px;
}

.project-item:hover .overlay .overlay-inner h4 {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.project-item:hover .overlay .overlay-inner p {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.project-item a:hover .overlay {
    opacity: 1;
}

ul.port-nav-list {
    padding: 0 0 50px 0;
    list-style: none;
    text-align: center;
}

ul.port-nav-list li {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #e8e8e9;
}

ul.port-nav-list li a {
    display: block;
    cursor: pointer;
    color: rgb(73, 73, 73);
    font-size: 14px;
    padding: 8px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
}

ul.port-nav-list li a.active {
    color: #ffffff;
    border-color: #AB060D;
    background: #AB060D;
}

.port-items {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.portfolio-items .port-items .single-port {
    overflow: hidden;
    margin-bottom: 25px;
}

.single-port {
    padding: 0;
}

/*-------- Portfolio area css ends---------*/


/*-------- 11. Testimonial area css starts------------*/

.testimonial-area {
    background: #f5f5f5;
}

.single-test {
    padding: 20px;
    margin: 20px 10px;
}

.single-test .test-img {
    width: 125px;
    height: 123px;
    float: left;
    margin-right: 50px;
    position: relative;
}

.single-test .test-img::before,
.single-test .test-img::after {
    content: "";
    display: block;
    height: 30%;
    position: absolute;
    width: 25%;
}

.single-test .test-img:before {
    bottom: -10%;
    left: -10%;
    border-bottom: 3px solid #AB060D;
    border-left: 3px solid #AB060D;
}

.single-test .test-img:after {
    top: -10%;
    right: -10%;
    border-top: 3px solid #AB060D;
    border-right: 3px solid #AB060D;
}

.single-test .test-img img {
    width: 100%;
    height: auto;
}

.single-test .testi-text {
    display: table;
    position: relative;
}

.single-test .testi-text::before {
    color: #f6f6f6;
    font-size: 112px;
    margin-right: 20px;
    position: absolute;
    right: 50%;
    top: 54px;
    transform: rotate(180deg);
    z-index: -1;
}

.single-test .reviewer-name {
    font-size: 18px;
    color: #AB060D;
    text-transform: capitalize;
}

.single-test .reviewer-deg {
    font-size: 13px;
    font-weight: 600;
    color: #585f62;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 5px;
    padding-left: 5px;
}

.single-test .reviewer-com {
    color: #7c7c7c;
    margin-top: 12px;
    font-style: italic;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #AB060D;
}

@media only screen and (max-width: 980px) {
    .single-test {
        padding: 20px 0;
        margin: 20px 15px;
    }
    .single-test .test-img {
        float: none;
    }
    .single-test .testi-text {
        display: block;
        margin-top: 30px;
    }
    .single-test .testi-text:before {
        z-index: 1;
        top: -200px;
    }
}

#testimonial-slider .owl-dots {
    text-align: center;
}

#testimonial-slider .owl-dots {
    text-align: center;
    bottom: -32px;
    left: 0;
    position: absolute;
    right: 0;
    margin-bottom: 50px;
}

#testimonial-slider .owl-dot {
    border: 1px solid #AB060D;
    border-radius: 3px;
    display: inline-block;
    height: 6px;
    margin: -25px 5px;
    width: 19px;
}

#testimonial-slider .owl-dot.active {
    background: #AB060D;
}


/*-------- Testimonial area css ends------------*/


/*-----------12. Team area css starts ----------*/

.team-body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.team-wrap {
    width: 100%;
    margin: 0 auto;
    display: table;
}

.team-wrap img {
    width: 100%;
}

.team-boxes {
    background: #fff;
    padding: 0;
}

.team-boxes .separator {
    height: 1px;
    width: 36px;
    margin: 7px 0 7px 20px;
    clear: both;
    background-color: #20b2aa;
}

.team-boxes .team_quote p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    letter-spacing: 1px;
}

.team-info {
    text-align: center;
    margin: 15px auto 0 auto;
}

.team-info p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #5A5A5A;
    text-transform: uppercase;
    font-weight: 300;
}

.team-info h2 {
    margin: 0;
    padding: 5px 0 6px 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: #444;
    letter-spacing: 1px;
}

.team-social {
    width: 100%;
    margin-top: 19px;
    padding: 5px 20px 26px 20px;
}

.team-social a {
    background: #FFF;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    color: #494949;
    line-height: 40px;
    font-size: 15px;
    border: solid 1px #eee;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 4px;
}

.team-social a:hover {
    border: solid 1px #4a4a4a;
}

.overlay-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #303543;
}

.overlay-image .mask,
.overlay-image .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view-overlay img {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.view-overlay .mask {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.port-zoom-link {
    position: absolute;
    top: 45%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 0 20px;
}

.port-zoom-link a {
    background: #AB060D;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.port-zoom-link a i {
    color: #fff;
    font-size: 18px;
    padding: 10px;
}

.view-overlay:hover img {
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.view-overlay:hover .mask {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}


/*-----------  13. Statictic area css starts --------------*/

.statistic-area {
    background-image: url(../images/statistic/stats.jpg); /* edit image */
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}

.statistic-area .sts-overlay {
    background: rgba(0, 0, 0, 0.8);
}

.single-count i {
    color: #ffffff;
    font-size: 35px;
}

.single-count h2 {
    font-size: 50px;
    color: #AB060D;
}

.single-count p {
    font-size: 18px;
    color: #ffffff;
}


/*----------- Statictic area css ends --------------*/


/* ---------14. Pricing area css starts-----------*/

.db-pricing-eleven {
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

.db-pricing-eleven ul {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-left: 0px;
}

.db-pricing-eleven ul li {
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    color: #333;
}

.btn.db-button-color-square.btn-lg {
    background: #333333;
    color: #fff;
    border: 0;
    border-radius: 0;
}

.db-pricing-eleven ul li i {
    margin-right: 5px;
}

.db-pricing-eleven .price {
    background-color: #333333;
    padding: 40px 20px 20px 20px;
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
}

.db-pricing-eleven .price small {
    color: #fff;
    display: block;
    font-size: 16px;
    margin-top: 22px;
    text-transform: capitalize;
}

.db-pricing-eleven .type {
    background-color: #AB060D;
    padding: 30px 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
}

.db-pricing-eleven .pricing-footer {
    padding: 40px 0;
}

.db-pricing-eleven:hover .price {
    background: #AB060D;
    transition: .9s;
}

.db-pricing-eleven:hover .type {
    transition: .9s;
    background: #333333;
}

.db-pricing-eleven:hover .btn.db-button-color-square.btn-lg {
    background: #AB060D;
}

/* ------ Pricing area css ends---------*/


/*------- 15. Clents area css starts -------*/

.client-area .section-title h2 {
    color: #fff;
}

.client-area .section-title p{
    color: #fff;
}

.client-area{
    background: url("../images/clients/clients.jpg"); /* edit image */
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.client-area:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: -1;
}

.single-client {
    width: 100%;
    height: 200px;
    background: #fff;
}

.single-client img {
    padding: 15%;
}

/*------- Clents area ends ---------*/


/* ---------16. Blog area starts ---------- */

.blogs-header {
    margin-bottom: 20px;
}

.blogs-title a {
    font-size: 18px;
    outline: 0;
    text-decoration: none;
    color: #AB060D;
}

.posts-meta {
    font-size: 13px;
}

.blogs-text {
    border-top: 1px dotted #c2c2c2;
    padding: 10px 0 0;
    margin: 0 0 10px;
}

.more-link {
    color: #111;
    text-decoration: none;
}

.more-link::after {
    content: "\00BB";
    color: #666666;
    padding-left: 5px;
}

.single-blogs:hover .blogs-img img {
    transform: scale(1.2);
    transition: .9s;
}

.blogs-img {
    overflow: hidden;
}


/*------ blog area ends -------------*/


/* ------------ 17. Contact area css starts ----------*/

.contact-area {
    background: #f5f5f5;
}

.contact_info_content h3 {
    color: #AB060D;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 100;
    font-size: 20px;
}

.contact_info_content h4 {
    margin: 0;
    padding: 0;
}

.single_info_text h4 {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-weight: 100;
}

.form-control {
    display: inline-block;
    height: 38px;
    padding: 10px 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .00);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .00);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-bottom: 2px solid #ddd;
}

.form-control:focus {
    border-color: #AB060D !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form .btn.btn-lg {
    background: #AB060D;
    color: #fff;
    border-radius: 0;
    display: inline-block;
    margin-top: 30px;
}

#contact-form input, #contact-form textarea{
    background: whitesmoke;
    padding: 20px;
}

#contact-form .btn.btn-send {
    background: #AB060D;
    color: #fff;
    border-radius: 0;
    padding: 20px 20px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 15px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none; 
}

.single_info_text {
    margin-bottom: 20px;
}

.contact-icon{
    font-size: 2.5em;
    color: #AB060D;
    padding: 10px;
}


/*----------- Contact area css ------------*/

/*-------- 18. Footer area starts--------*/

.footer {
    padding: 40px 0 20px 0;
    background-color: #222;
}

.footer .copyright,
.footer .social-icons {
    margin-bottom: 20px;
}

.footer .copyright p {
    color: #ccc;
}

.footer .copyright p strong {
    color: #fff;
}

.footer .social-icons a {
    display: inline-block;
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #444;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.footer .social-icons a:hover {
    background-color: #AB060D;
    color: #fff;
}


/*---------- Footer area css ends---------------*/


/*----  19. Single blog css starts----*/

.blog-header {
    height: 400px;
    background: url("../images/home/home3.jpg"); /* edit image */
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
    position: relative;
    padding: 120px 0;
    z-index: 1;
}

.blog-header:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.breadcrumb {
    background: transparent;
    color: #fff;
}

.blog-header h2 {
    font-size: 40px;
    color: #fff;
}

.breadcrumb a {
    text-decoration: none;
    color: #fff;
}

.blog-area {
    padding: 60px 0;
}

.blog-column-left {
    margin-left: 70px;
    margin-top: 12px;
}

.blog-post {
    position: relative;
    margin-bottom: 80px;
}

.blog-post-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 26px;
    margin-top: 30px;
}

.blog-post-title a {
    color: #1c1c1c;
    text-transform: capitalize;
    text-decoration: none;
}

.blog-post-info {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.blog-post-info li {
    display: inline-block;
    font-size: 13px;
    margin-right: 15px;
}

.blog-post-info li a {
    color: #888;
}

.blog-post-info li a:hover {
    color: #1c1c1c;
}

.blog-post-info li i {
    font-size: 12px;
    margin-right: 3px;
}

.blog-post-date {
    position: absolute;
    right: 5px;
    top: -7px;
    text-align: center;
}

.blog-post-date h2,
.blog-post-date h5 {
    margin: 0;
}

.blog-post .btn {
    margin-top: 10px;
    margin-left: 0;
}

.pager li>a,
.pager li>span {
    display: inline-block;
    padding: 8px 13px;
    background-color: #333;
    border: none;
    border-radius: 2px;
    font-size: 11px;
    color: #f3f3f3;
}

.post-title a {
    color: #3a3a3a;
}

.post-img {
    margin-bottom: 10px;
}

.project-img {
    margin-bottom: 60px;
}

.tags-list {
    list-style: none;
    padding: 0px;
}

.tags-list li {
    font-size: 13px;
    margin-top: 5px;
    display: inline-block;
    padding: 5px 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tags-list li a {
    color: #888;
}

.blog-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog-list li {
    color: #888;
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.blog-list li:hover {
    background: #AB060D;
}

.blog-list li a {
    color: #3a3a3a;
}

.blog-list li a:hover {
    color: #fff;
    text-decoration: none;
}

.blog-list li:hover a {
    color: #fff;
    text-decoration: none;
}

.blog-widget-container {
    margin-bottom: 60px;
}

.blog-widget-container h4.uppercase {
    margin-bottom: 20px;
}

.blog-widget-container p {
    margin-top: 20px;
}

@media (min-width:992px) {
    .blog-sidebar {
        padding-left: 40px;
        padding-top: 10px;
    }
}

.blog-widget-container .form-control {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    box-shadow: none;
    background: #f3f3f3;
    border: 1px solid #ccc;
}

.search {
    height: 40px;
}

.search-button {
    position: absolute;
    height: 40px;
    right: 50px;
    width: 50px;
    overflow: hidden;
    padding: 5px 10px;
    border: none;
    box-shadow: none;
    font-size: 22px;
    color: #fff;
    z-index: 15;
    background: #AB060D;
}

.search-button:hover {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.blog-clean .post-title {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: -2px;
}

.blog-clean .post-subtitle {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}

.blog-post .lead {
    margin-bottom: 20px;
    line-height: 1.6;
}

.blog-post p {
    line-height: 1.8;
}

pre {
    background-color: #f3f3f3;
    border: none;
    border-radius: 0;
    color: #888;
}

.comments {
    margin-top: 40px;
    margin-bottom: 80px;
}

.comments-title {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.comments .avatar {
    width: 65px;
    border-radius: 50%;
}

.comment {
    margin-bottom: 20px;
}

.comment .media-body {
    padding: 0 20px 20px;
}

.comment .time {
    margin-bottom: 20px;
}

.comment .media-body p {
    color: #888;
}

.depth-2 {
    padding-left: 40px;
}

.depth-3 {
    padding-left: 80px;
}

.comment-form {
    margin-bottom: 80px;
}

.pager li > a:focus, .pager li > a:hover {
    background-color: #333;
}



/*----  single blog css ends----*/


/* Location - map */

.location-icon{
    font-size: 2.5em;
    color: #AB060D;
    padding: 10px;
}
